.hero {
    background: url('https://img.freepik.com/free-vector/gradient-3d-stairs-background_23-2149167323.jpg?t=st=1721502888~exp=1721506488~hmac=36ed5aa0d7e2871e193b0dea3e3113db5912d9b94716d0615c62b2cc159f1ac8&w=1060') no-repeat center center;
    background-size: cover;
    color: white;
    padding: 100px 20px;
    text-align: center;
  }
  
  .hero-content h1 {
    font-size: 3em;
    margin-bottom: 20px;

  }
  
  .hero-content p {
    font-size: 1.5em;
    margin-bottom: 20px;
  }
  
  .cta-button {
    padding: 15px 30px;
    background-color: black;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 1em;
  }
  
  .cta-button:hover {
    background-color: white;
    color: #000;
  }
  